*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

:root{

    /* primary */
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    /*gradientes*/
    --Light-slate-blue:  hsl(252, 100%, 67%);
    --Light-royal-blue: hsl(241, 81%, 54%);
    --Violet-blue:  hsla(256, 72%, 46%, 1);
    --Persian-blue:  hsla(241, 72%, 46%, 0);
    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.left{
    position: relative;
    right: -24px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas:     
    "title"    
    "number"    
    "description";
    grid-template-rows: 80px 3fr 2fr;
    background:  linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
    height: 55vh;
    width: 374px;
    border-radius: 30px;
}

.left h2{
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    opacity: .6;
}

.left article {
    display: grid;
    justify-content: center;
    align-items: center;
    background: linear-gradient(var(--Violet-blue),var(--Persian-blue));
    padding: 60px;
    margin: 40px;
    border-radius: 50%;
    margin-top: 20px;
}

.primary {
    color: var(--white);
    font-size: 4.5em;
    margin-top: -35px;
    font-weight: 800;
}

.second{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
    color: var(--white);
    opacity: .4;
}

.description h1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -80px;
    color: var(--white);
    font-weight: 5600;
}

.description p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--white);
    opacity: .6;
    padding-top: 20px;
}

.rigth{

    background-color: var(--Light-lavender);
    height: 55vh;
    width: 350px;
    
}